@import "tailwindcss";
@import "@fontsource/inter";

*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}

html{
 scroll-behavior:smooth;
}

body{
 background:#0f172a;
 color:white;
 font-family:"Inter",sans-serif;
 overflow-x:hidden;
}

/* Layout */

.container{
    @apply mx-auto px-4;
}


/* Navbar */

.navbar{
    
@apply fixed top-0 left-0 w-full z-50
 backdrop-blur-md
 bg-white/5
 border-b border-white/10;
}

.nav-links{
 @apply hidden md:flex gap-8 text-gray-300;
}

.nav-item{
 @apply hover:text-cyan-400
 cursor-pointer
 transition;
}


/* Buttons */

.btn-primary{
 @apply px-6 py-3 rounded-full
 bg-gradient-to-r
 from-purple-600
 to-cyan-500
 hover:scale-105
 transition;
}

.btn-outline{
 @apply px-6 py-3 rounded-full
 border border-white/20;
}


/* Hero */

.hero{
 @apply min-h-screen flex items-center;
}

.hero-grid{
 @apply container grid md:grid-cols-2 gap-12 items-center;
}

.hero-title{
 @apply text-6xl font-bold mb-4;
}

.hero-sub{
 @apply text-3xl text-gray-300 mb-6;
}

.hero-text{
 @apply text-gray-400 leading-8 mb-8 max-w-xl;
}